In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
numbers = [1, 2, 3, 4, 5]
sum_result = 0
for num in numbers:
    sum_result += num
print("Sum:", sum_result)

Sum: 15

In [3]:
text = "Hello, World!"
for char in reversed(text):
    print(char)

!
d
l
r
o
W

,
o
l
l
e
H

In [4]:
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial:", factorial)

Factorial: 120

In [5]:
num = 7
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Even numbers:", even_count)
print("Odd numbers:", odd_count)

Even numbers: 5
Odd numbers: 5

In [7]:
for i in range(1, 6):
    print(f"{i} squared is {i**2}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [8]:
text = "Hello, World!"
length = 0
for char in text:
    length += 1
print("Length:", length)

Length: 13

In [9]:
numbers = [3, 6, 9, 12, 15]
total = 0
for num in numbers:
    total += num
average = total / len(numbers)
print("Average:", average)

Average: 9.0

In [10]:
n = 10
a, b = 0, 1
for _ in range(n):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [11]:
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False

my_list = [1, 2, 3, 3, 4, 5]
if has_duplicates(my_list):
    print("List contains duplicates")
else:
    print("List does not contain duplicates")

List contains duplicates

In [12]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start = 1
end = 20
print(f"Prime numbers between {start} and {end}:")
for num in range(start, end + 1):
    if is_prime(num):
        print(num)

Prime numbers between 1 and 20:
2
3
5
7
11
13
17
19

In [13]:
text = "Hello, World!"
vowels = "AEIOUaeiou"
count = 0
for char in text:
    if char in vowels:
        count += 1
print("Number of vowels:", count)

Number of vowels: 3

In [14]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
max_value = matrix[0][0]
for row in matrix:
    for num in row:
        if num > max_value:
            max_value = num
print("Maximum element:", max_value)

Maximum element: 9

In [15]:
my_list = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2
new_list = [item for item in my_list if item != element_to_remove]
print("List after removing", element_to_remove, ":", new_list)

List after removing 2 : [1, 3, 4, 5, 6]

In [16]:
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [17]:
fahrenheit_temperatures = [32, 68, 86, 104]
celsius_temperatures = []
for fahrenheit in fahrenheit_temperatures:
    celsius = (fahrenheit - 32) * 5/9
    celsius_temperatures.append(celsius)
print("Celsius Temperatures:", celsius_temperatures)

Celsius Temperatures: [0.0, 20.0, 30.0, 40.0]

In [18]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = []
for item in list1:
    if item in list2:
        common_elements.append(item)
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [19]:
n = 5
for i in range(1, n + 1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [20]:
import math

num1 = 36
num2 = 48
gcd = math.gcd(num1, num2)
print("GCD of", num1, "and", num2, "is", gcd)

GCD of 36 and 48 is 12

In [21]:
def prime_factors(num):
    factors = [factor for factor in range(2, num + 1) if num % factor == 0]
    prime_factors = [factor for factor in factors if all(factor % div != 0 for div in range(2, factor))]
    return prime_factors

number = 36
print(f"Prime factors of {number}: {prime_factors(number)}")

Prime factors of 36: [2, 3]

In [22]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = [x for i, x in enumerate(original_list) if x not in original_list[:i]]
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5]

In [23]:
limit = 100
palindromic_numbers = [num for num in range(1, limit + 1) if str(num) == str(num)[::-1]]
print("Palindromic numbers up to", limit, "are:", palindromic_numbers)

Palindromic numbers up to 100 are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [24]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6]

In [25]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum = sum([num for num in numbers if num % 2 == 0])
odd_sum = sum([num for num in numbers if num % 2 != 0])
print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 30
Sum of odd numbers: 25

In [26]:
odd_squares = [x**2 for x in range(1, 11) if x % 2 != 0]
print("Squares of odd numbers:", odd_squares)

Squares of odd numbers: [1, 9, 25, 49, 81]

In [27]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = {k: v for k, v in zip(keys, values)}
print("Combined dictionary:", my_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [28]:
text = "Hello, World!"
vowels = [char for char in text if char in 'aeiouAEIOU']
print("Vowels in the string:", vowels)

Vowels in the string: ['e', 'o', 'o']

In [29]:
strings = ["123", "abc", "456", "def", "789"]
numeric_strings = [s for s in strings if s.isnumeric()]
print("Numeric strings:", numeric_strings)

Numeric strings: ['123', '456', '789']

In [30]:
def sieve_eratosthenes(n):
    sieve = [True] * (n + 1)
    sieve[0] = sieve[1] = False

    for p in range(2, int(n**0.5) + 1):
        if sieve[p]:
            for i in range(p * p, n + 1, p):
                sieve[i] = False

    primes = [i for i in range(2, n + 1) if sieve[i]]
    return primes

limit = 100
prime_numbers = sieve_eratosthenes(limit)
print("Prime numbers up to", limit, "are:", prime_numbers)

Prime numbers up to 100 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [31]:
def find_pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit + 1) for b in range(a, limit + 1) for c in range(b, limit + 1) if a**2 + b**2 == c**2]
    return triplets

limit = 20
pythagorean_triplets = find_pythagorean_triplets(limit)
print("Pythagorean triplets up to", limit, "are:", pythagorean_triplets)

Pythagorean triplets up to 20 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [32]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combinations = [(x, y) for x in list1 for y in list2]
print("All possible combinations:", combinations)

All possible combinations: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [33]:
from statistics import mean, median, mode

numbers = [1, 2, 3, 4, 4, 5, 5, 6]
mean_value = mean(numbers)
median_value = median(numbers)
mode_value = mode(numbers)
print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

Mean: 3.75
Median: 4.0
Mode: 4

In [34]:
def generate_pascals_triangle(rows):
    triangle = [[1]]
    for i in range(1, rows):
        prev_row = triangle[-1]
        new_row = [1] + [prev_row[j] + prev_row[j+1] for j in range(len(prev_row) - 1)] + [1]
        triangle.append(new_row)
    return triangle

num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [35]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

numbers = [1, 2, 3, 4, 5]
digit_sums = [sum(int(digit) for digit in str(factorial(num))) for num in numbers]
print("Sum of digits of factorials:", digit_sums)

Sum of digits of factorials: [1, 2, 6, 6, 3]

In [36]:
sentence = "The quick brown fox jumps over the lazy dog"
words = sentence.split()
longest_word = max(words, key=len)
print("Longest word:", longest_word)

Longest word: quick